
<div class="category-bar">
  <a href="#post" class="category-item" id="category-posts">
    <i class="material-icons" style="color: #333">note</i>
    게시판
  </a>
  <!-- <a href="#" class="category-item">
    <i class="material-icons" style="color: #333">chat</i>
    대화
  </a> -->
  <a href="#part" class="category-item" id="category-parts">
    <i class="material-icons" style="color: #333">memory</i>
    PC부품
  </a>
  <a href="#laptop" class="category-item" id="category-laptop">
    <i class="material-icons" style="color: #333">laptop_chromebook</i>
    노트북
  </a>
  <a href="#monitor" class="category-item" id="category-monitor">
    <i class="material-icons" style="color: #333">desktop_windows</i>
    모니터
  </a>
  <a href="#keyboard" class="category-item" id="category-keyboard">
    <i class="material-icons" style="color: #333">keyboard</i>
    키보드
  </a>
  <a href="#" class="category-item" id="category-mouse">
    <i class="material-icons" style="color: #333">mouse</i>
    마우스
  </a>
  <!-- <a href="#" class="category-item">
    <i class="material-icons" style="color: #333">gradient</i>
    그래픽
  </a> -->
</div>