<div id ="category-post-container">
  <div class="post-container">
    <div class="all-post-container">
      <p>전체 게시물</p>
      <ul class="collection post-list" id = "category-post-list">
        <li class="collection-item" id="category-post-0"></li>
        <li class="collection-item" id="category-post-1"></li>
        <li class="collection-item" id="category-post-2"></li>
        <li class="collection-item" id="category-post-3"></li>
        <li class="collection-item" id="category-post-4"></li>
        <li class="collection-item" id="category-post-5"></li>
        <li class="collection-item" id="category-post-6"></li>
        <li class="collection-item" id="category-post-7"></li>
        <li class="collection-item" id="category-post-8"></li>
        <li class="collection-item" id="category-post-9"></li>
      </ul>
    </div>
  </div>
</div>