<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/login.css" />
</head>

<body>
  <%-include('nav')%>
  <div class="container">
    <h2>로그인</h2>
    <form action="/api/auth/login" method="post" id="loginForm">

      <div class="input-field-container">
        <div class="input-field">
          <input type="text" id="email" name="email" required>
          <label for="email">이메일</label>
        </div>
      </div>

      <div class="input-field">
        <input type="password" id="password" name="password" required>
        <label for="password">비밀번호</label>
      </div>

      <div class="center-align">
        <button type="submit" class="btn grey darken-3" id="loginBtn"
          style="width: 460px; height: 50px; margin: 5px;">로그인</button>
        <button class="btn grey darken-3" id="signup" style="width: 460px; height: 50px; margin: 5px;"><a
            href="/signup">회원가입</a></button>
      </div>
      <div style="margin-left: 128.5px; margin-top: 5px;">
        <a href="/api/auth/kakao"><img src="images/kakaoBtn.png" alt=""
            style="width: 203px; height: 50px; cursor: pointer;"></a>
      </div>
      <div style="margin-left: 128.5px; margin-top: 3px;">
        <a href="/api/auth/naver"><img src="images/naverBtn.png" alt=""
            style="width: 203px; height: 50px; cursor: pointer;"></a>
      </div>

    </form>
  </div>
  <%-include('footer')%>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const loginBtn = document.getElementById('loginBtn');
      const loginForm = document.getElementById('loginForm');

      loginBtn.addEventListener('click', function (e) {
        e.preventDefault();

        // 로그인 폼 데이터 가져오기
        const formData = new FormData(loginForm);

        const urlSearchParams = new URLSearchParams(formData);

        // 서버로 로그인 요청 보내기
        fetch('/api/auth/login', {
          headers: {
            Accept: "application / json",
          },
          method: 'POST',
          body: urlSearchParams,

        })
          .then((res) => res.json())
          .then((data) => {
            if (data.success) {
              // 로그인 성공 시에 원하는 동작 수행
              // console.log('로그인 성공', data);
              // 페이지 이동 등의 추가 작업 가능
              window.location.href = '/';
            } else {
              // 로그인 실패 시에 alert 창에 에러 메시지 표시
              alert(data.errorMessage);
            }
          })
          .catch((error) => {
            console.log(error);
          });
      });
    });
  </script>
</body>