<div id ="main-post-container">
  <div class="post-container">
    <a href="#last" id="last-post-list">
    <div class="latest-post-container">
      <p>최신 게시물</p>
      <ul class="collection post-list"  >
        <li class="collection-item" id="last-post-0"></li>
        <li class="collection-item" id="last-post-1"></li>
        <li class="collection-item" id="last-post-2"></li>
        <li class="collection-item" id="last-post-3"></li>
        <li class="collection-item" id="last-post-4"></li>
      </ul>
    </div>
    </a>
    
    <a href="#like" id="like-post-list">
    <div class="popularity-post-container">
      <p>좋아요 많은 게시물</p>
      <ul class="collection post-list"  >
        <li class="collection-item" id="like-post-0"></li>
        <li class="collection-item" id="like-post-1"></li>
        <li class="collection-item" id="like-post-2"></li>
        <li class="collection-item" id="like-post-3"></li>
        <li class="collection-item" id="like-post-4"></li>
      </ul>
    </div>
    </a>

    <a href="#comment" id="comment-post-list">
    <div class="commets-post-container">
      <p>덧글 많은 게시물</p>
      <ul class="collection post-list" >
        <li class="collection-item" id="comment-post-0"></li>
        <li class="collection-item" id="comment-post-1"></li>
        <li class="collection-item" id="comment-post-2"></li>
        <li class="collection-item" id="comment-post-3"></li>
        <li class="collection-item" id="comment-post-4"></li>
      </ul>
    </div>
    </a>
  </div>

  <div class="post-container">
    <a  href="#total" id="total-post-list">
    <div class="all-post-container">
      <p>전체 게시물</p>
      <ul class="collection post-list">
        <li class="collection-item" id="total-post-0"></li>
        <li class="collection-item" id="total-post-1"></li>
        <li class="collection-item" id="total-post-2"></li>
        <li class="collection-item" id="total-post-3"></li>
        <li class="collection-item" id="total-post-4"></li>
        <li class="collection-item" id="total-post-5"></li>
        <li class="collection-item" id="total-post-6"></li>
        <li class="collection-item" id="total-post-7"></li>
        <li class="collection-item" id="total-post-8"></li>
        <li class="collection-item" id="total-post-9"></li>
      </ul>
    </div>
    </a>
  </div>
</div>