<nav class="grey darken-3">
  <div class="title">
    <a style="display: flex; align-items: center" onclick="location.reload()" href="<%=path%>">
      <img src="<%=path%>/images/logo.png" alt="home" height="80" width="100" style="margin-top: -5px" />
      <span style="margin-bottom: 10px">다있다</span>
    </a>
  </div>
</nav>