<div class="search-field-container">
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input type="text" id="search" class="validate" />
                <label for="search">Search</label>
            </div>
            <button class="btn grey darken-3">검색</button>
        </div>
    </div>
</div>
