<% if(login==="yes" ) { %>
  <div class="icon-container">
    <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons"
        style="font-size: 45px; color: #ffffff">account_circle</i></a>
  </div>
  <ul id="slide-out" class="sidenav right-align">
    <img id="userProfileImage" alt="User Profile Picture"
      style="width: 250px; height: 250px; margin-right: 25px; margin-top: 25px;">
    <li>
      <p id="userNickName" style="padding: 0px 32px 25px; margin: 0px;"></p>
    </li>
    <li><a href="user/mypage">마이페이지</a></li>
    <li><a href="/api/auth/logout">로그아웃</a></li>
    <script>

      fetch('/api/user/me')
        .then(response => response.json())
        .then(data => {

          const nickName = document.getElementById('userNickName')
          nickName.innerHTML = `${data.data.nickName} <a href="/"><i class="fa-solid fa-gear fa-2xs" style="color: #000000;"></i></a>`

          const userImage = document.getElementById('userProfileImage')
          userImage.src = data.data.imgUrl

        }).catch(error => console.log(error))

      document.addEventListener('DOMContentLoaded', function () {
        M.Tabs.init(document.querySelectorAll('.tabs'));
      });
    </script>

  </ul>
  <% } else if(login==="no" ) { %>
    <div class="icon-container">
      <a href="/login" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons"
          style="font-size: 45px; color: #ffffff">account_circle</i></a>
    </div>
    <% } %>