<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
    .container {
      max-width: 500px;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
    }

    .input-field-container {
      display: flex;
      align-items: center;
    }

    .input-field {
      flex: 1;
    }

    .button-container {
      margin-left: 10px;
      /* 버튼 간격을 조절합니다. */
    }

    .center-align {
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <%-include('nav')%>
  <div class="container">
    <h2>회원 가입</h2>
    <form action="/api/user/signup" method="post" id="signupForm">

      <div class="input-field-container">
        <div class="input-field">
          <input type="text" id="username" name="email" required>
          <label for="username">이메일</label>
        </div>
        <!-- <div class="button-container">
          <button class="btn grey darken-3" id="idDuplicate">아이디 중복 확인</button>
        </div> -->
      </div>

      <div class="input-field">
        <input type="password" id="password" name="password" required>
        <label for="password">비밀번호</label>
      </div>

      <div class="input-field">
        <input type="password" id="confirmPassword" name="passwordConfirm" required>
        <label for="confirmPassword">비밀번호 확인</label>
      </div>

      <div class="input-field-container">
        <div class="input-field">
          <input type="text" id="nickname" name="nickName" required>
          <label for="nickname">닉네임</label>
        </div>
        <!-- <div class="button-container">
          <button class="btn grey darken-3" id="nickDuplicate">닉네임 중복 확인</button>
        </div> -->
      </div>


      <div class="center-align">
        <button class="btn grey darken-3" id="back" style="width: 100px; margin: 5px;"><a href="/">돌아가기</a></button>
        <button type="submit" class="btn grey darken-3" id="signupBtn" style="width: 200px; margin: 5px;">회원
          가입하기</button>
      </div>
    </form>
  </div>
  <%-include('footer')%>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const signupBtn = document.getElementById('signupBtn');
      const signupForm = document.getElementById('signupForm');

      signupBtn.addEventListener('click', function (e) {
        e.preventDefault();

        // 로그인 폼 데이터 가져오기
        const formData = new FormData(signupForm);

        const urlSearchParams = new URLSearchParams(formData);

        // 서버로 로그인 요청 보내기
        fetch('/api/user/signup', {
          method: 'POST',
          body: urlSearchParams,
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.success) {
              // 로그인 성공 시에 원하는 동작 수행
              console.log('회원가입 성공', data);
              // 페이지 이동 등의 추가 작업 가능
              window.location.href = '/';
            } else {
              // 로그인 실패 시에 alert 창에 에러 메시지 표시
              alert(data.errorMessage);
            }
          })
          .catch((error) => {
            console.log(error);
          });
      });
    });
  </script>
</body>

</html>